.page {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.logo {
  width: 196px;
  height: 60px;
}

.nav__links {
  margin: 8px 0 0;
  display: flex;
  column-gap: 20px;
  padding-left: 0;
  list-style: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__title {
  margin-top: 150px;
  max-width: 544px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__description {
  margin-bottom: 32px;
  max-width: 532px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: -1;
  position: absolute;
  top: 135px;
  right: 20px;
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #1f69c9;
}

.header__address {
  margin: 0;
  color: #838383;
}

.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.events__more:hover {
  color: #1f69c9;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  top: -30px;
  left: 319px;
}

.person_name_burbidge {
  top: 96px;
  right: 125px;
}

.person_name_cannon {
  bottom: 18px;
  right: 216px;
}

.person_name_mitchell {
  bottom: 82px;
  left: 142px;
}

.person_name_tarter {
  top: 79px;
  left: 159px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.staff {
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 100px 0 140px;
  text-align: center;
}

.staff__title {
  justify-content: center;
  color: white;
}

.staff__subtitle {
  color: white;
  margin-bottom: 68px;
}
.card__content {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  padding: 32px 40px 20px 32px;
  border-radius: 6px;
  box-sizing: border-box;
  width: 360px;
  height: 420px;
}

.staff__cards {
  max-width: 760px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
  list-style-type: none;
}

.membership {
  padding: 100px;
  background-color: #f2f2f2;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-basis: initial;
  justify-content: center;
  column-gap: 40px;
}

.step {
  max-width: 220px;
}

.about {
  display: flex;
  background: #1f1f1f;
  padding: 80px 0 80px 80px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  z-index: -1;
}

.about__title {
  width: auto;
  white-space: nowrap;
  color: white;
  z-index: 1;
  margin-right: 120px;
}

.about__content {
  display: flex;
  align-items: center;
  column-gap: 32px;
  flex-direction: column;
  color: white;
  z-index: 1;
  margin-bottom: 0;
}

.about__circle {
  position: absolute;
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  /* z-index: 0; */
  top: -121px;
  left: -91px;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 102px;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer__column {
  line-height: 20px;
  font-size: 16px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__logo {
  width: 116px;
  height: 21px;
}
.footer__column-heading {
  margin: 0 0 20px;
}

.footer__column_content_hours {
  margin-left: auto;
  color: white;
}

.footer__column_content_social {
  margin-left: 100px;

  color: white;
  list-style-type: none;
}
.footer__copyright {
  margin-top: 0;
}

.nav__link:hover {
  color: #1f69c9;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
